/*
    Header Styles
*/

.#{$prefix} {
    &header {
        &--main {
            position: relative;
            transition: all 0.53s ease-in-out 0s;
            .#{$prefix}site-logo {
                svg {
                    width: 120px;
                    @include respond-above(sm) {
                        width: 150px;
                    }
                }
            }
            &.#{$prefix}full-menubg {
                position: relative;
                &:after {
                    content: '';
                    background: $white;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 100%;
                    position: absolute;
                    z-index: 1;
                    transition: all 0.53s ease-in-out 0s;
                }
                .dropdown-menu {
                    top: 100% !important;
                    border: medium none;
                    border-radius: 0;
                    width: 387px;
                    transform: translate(25px, 40px) !important;
                    li {
                        &:not(:last-of-type) {
                            a {
                                position: relative;
                                padding-bottom: 20px;
                                margin-bottom: 20px;
                                &:after {
                                    content: '';
                                    width: 80px;
                                    height: 2px;
                                    background: $mild-gray;
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                }
                            }
                        }
                    }
                    a {
                        font-family: $global-font-family;
                        font-size: 32px;
                        color: $primary-blue;
                        white-space: normal;
                        letter-spacing: -0.02em;
                        line-height: 38px;
                        padding-left: 0;
                        padding-right: 0;
                        &:hover,
                        &:focus {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
    &nav {
        li {
            a {
                color: $dark-gray;
                font-family: $secondary-font-family;
            }
        }
    }
    /*
        Desktop Open Menu Styles
    */
    &menu-open {
        overflow: hidden;
        .#{$prefix}main {
            position: relative;
            &:before {
                left: 0;
                top: 0;
                position: absolute;
                width: 100%;
                height: 100vh;
                background: rgba($color: $primary-gray, $alpha: 0.9);
                margin-left: 3.4em;
                content: '';
            }
        }
    }
    &nav-sidebar {
        background: $primary-blue;
        padding: 30px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 2;
        overflow: auto;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.53s ease-in-out 0s, opacity 0.53s ease-in-out 0s;
        ul {
            li {
                a {
                    color: $white;
                    padding: 10px 0;
                    display: block;
                    font-size: $global-font-size;
                }
            }
            >li {
                border-top: 1px solid rgba($color: $mild-gray, $alpha: 0.1);
                display: block;
                >a {
                    padding: 20px 0;
                }
                ul {
                    margin-left: 30px;
                    margin-bottom: 20px;
                    li {
                        border: medium none;
                        a {
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
        .dropdown {
            .dropdown-toggle {
                &::after {
                    display: none;
                }
                &.show {
                    opacity: 0.4;
                }
            }
            .dropdown-menu {
                &.show {
                    display: block;
                    transform: translate3d(0px, 0px, 0px) !important;
                    background: transparent;
                    border: medium none;
                    margin-left: 30px !important;
                    margin-bottom: 20px !important;
                    position: static !important;
                }
            }
        }
    }
    /*
        Mobile Menu Header Styles
    */
    &mobile-menu--open {
        overflow: hidden;
        .#{$prefix}header--main {
            background: $primary-blue !important;
            transition: all 0.53s ease-in-out 0s;
            .#{$prefix}site-logo {
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
            .#{$prefix}nav-sidebar {
                visibility: visible;
                opacity: 1;
                transition: visibility 0.53s ease-in-out 0s, opacity 0.53s ease-in-out 0s;
            }
        }
    }
}


/*
Mobile Menu Icon
*/

#stp_nav-icon {
    width: 24px;
    height: 35px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: $dark-gray;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3) {
            top: 8px;
        }
        &:nth-child(4) {
            top: 16px;
        }
    }
    &:hover,
    &:focus {
        span {
            background: $primary-blue;
        }
    }
    &.open {
        span {
            background: $white;
            &:nth-child(1) {
                top: 10px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
            &:nth-child(4) {
                top: 10px;
                width: 0%;
                left: 50%;
            }
        }
    }
}