$prefix:stp_; //stp => skill test project
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-semi-bold: 700;
$font-weight-bold: 800;
$global-font-size: 14px;
$global-font-family:'Galaxie Copernicus';
$secondary-font-family:'Inter',
sans-serif;
$global-font-style: normal;
$global-line-height: 1.6;
$global-color:#3C3C3C;
$white: #fff;
$black: #000;
$dark-gray:#3C3C3C;
$mild-gray:#C4C4C4;
$dark-red:#8C2531;
$light-red:#D7C3AE;
$primary-blue:#003A92;
$primary-gray:#74788A;
$light-border-color:#F2EFEE;